p{
    color:green
}


head{
    color: green
}

h1{
    color: green
}

h2{
    color: green
}

img{
    box-align:baseline
}

img{
    box-align:baseline
}
footer{
    width:10cm
}
body {
    background-color:black
}