p{
    color: green;
    font-size: 30px;
    text-align: center;
}

h1{
    color: green;
    text-align: center;
}

header{
    color: green;
    text-align: center;
    font-size: 80px;
}

body{
    background-color: black;
}

footer{
    color: green;
    text-align: center;
   
}