/*davaleba da tu classworkis naxva ginda qvevit chasqrole 30 xazze*/






























/* #ul1{
    list-style-type:square
}

#ul2{
    list-style-type:lower-roman
}

#ul3{
    list-style-type: lower-latin
} */


